<div class = "employee-slide-container" >
        <div class = "leftbar-logo slideleft-button" >
            <div class="logoimg" {{action 'cancelbtn-action'}}>{{#link-to path preventDefault=false }}{{svg-jar 'Cancel' width='20px' height="20px" }}{{/link-to}} </div> 
        </div>
       
  <div class = "employee-outerslide"></div>
    
  <div class = "employee-slide">
  
    <div class = "header slideheader">
       
      <div class="slide-headertext">{{slidetitle}}</div>
      <div class="employee-slide-btns">
       
        {{#each form-btns as |btn|}}
        <button class="{{btn.classname}}" 
          type ="{{btn.type}}" 
           {{action (action 'buttonAction' btn.actionName)}}
        >{{btn.title}}</button>
       {{/each}}
      </div>
    </div>
    <div class="horizontal-divider"></div>
    <div class="slider-body">
    {{yield }}
    </div>
  </div>
</div>
