{{!-- {{yield}} --}}

<div class = "card-container">
    {{user-avatar title=firstname imm=image}}
    <div class = "font-style namebox">
         {{firstname}} {{lastname}}
    </div>

    <div class = "font-style emailbox">
         {{email}}
    </div>
    {{outlet}}
</div>

