{{!-- {{yield}} --}}

<div class = "card-container">
    {{user-avatar title=firstname imm=image}}
    <div class = "namebox"> 
        {{firstname}} {{lastname}}
    </div>

    <div class = "emailbox">
        {{email}}
    </div>
    {{outlet}}
</div>

