{{!-- {{yield}} --}}

<div class = "card-container">

   
    <div class='edit_hover_button'> 
     {{#link-to "users.edit" employeeinfocard.id }}
          <button class="usercard-buttons">{{svg-jar 'Editicon' width='13px' height="14px" }}</button>
     {{/link-to}}
     <button class="usercard-buttons" {{action "userRecordToDelete" }}>{{svg-jar 'bin' width='13px' height="14px" }}</button>
    </div >

    {{user-avatar title=employeeinfocard.first_name empImage=employeeinfocard.image}}
    <div class = "namebox">
         {{employeeinfocard.fullName}}
    </div>

    <div class = "emailbox">
         {{employeeinfocard.email}}
    </div>
</div>
