{{#if isSlideOpen}}
    <SlideModal 
        @slidetitle = {{formtitle}} 
        @form-btns = {{formbuttons}} 
        @form-submit-action = {{action "apply"}} 
        @form-reset-action = {{action "reset"}}
        @cancelbtn-action = {{action 'removeUncommitedModel'}}
        @member = {{member}}
        @path = {{path}}
    >

    <AvatarUpload 
        @member-profile = {{member}} 
        @imageplaceholder={{imageplaceholder}}
        @ValidationFailed = {{imageValidationFailed}}>
    </AvatarUpload>
    
    <div class = "inputfield-container">
        <div class = "field">
            <div class = "fieldtext">First Name <span class = "requiredsymbol"> *</span></div>
            {{input name="first_name" type="text" value=member.first_name class= (if (and member.validations.attrs.first_name.isInvalid hasValidationFailed) "inputfield requiredinput" "inputfield"  )  }}
                {{#if hasValidationFailed}}
                    <div class="fielderror">
                        {{v-get member 'first_name' 'message'}}
                    </div>
                {{/if}}
        </div>
   
        <div class = "field">
            <div class = "fieldtext">Last Name <span class="requiredsymbol">*</span></div>
            {{input name="last_name" type="text" value=member.last_name  class= (if (and member.validations.attrs.last_name.isInvalid hasValidationFailed) "inputfield requiredinput" "inputfield" ) }}
                {{#if hasValidationFailed}}
                    <div class="fielderror">
                        {{v-get member 'last_name' 'message'}}
                    </div>
                {{/if}}
            </div>

        <div class = "field">
            <div class = "fieldtext">Email <span class="requiredsymbol">*</span></div>
            {{input name="email" type="text" value=member.email class=(if (and member.validations.attrs.email.isInvalid hasValidationFailed) "inputfield requiredinput" "inputfield" ) }}
                {{#if hasValidationFailed}}
                    <div class="fielderror">
                        {{v-get member 'email' 'message'}}
                    </div>
                {{/if}}        
        </div>   

        <div class = "field">
            <div class = "fieldtext">Date of Joining</div>
            {{bootstrap-datepicker value=member.joiningDate class="inputfield"
                format="dd.mm.yy" 
                orientation="bottom"  
                autoclose=true 
                autocomplete="off"    
            }}
        </div>  

        <div class = "field">
            <div class = "fieldtext">Designation</div>
            {{input name="designation" type="text" value=member.designation class=(if (and member.validations.attrs.designation.isInvalid hasValidationFailed) "inputfield requiredinput" "inputfield" ) }}
                {{#if hasValidationFailed}}
                    <div class="fielderror">
                    {{v-get member 'designation' 'message'}}
                    </div>
                {{/if}}
        </div>
        <div class = "field ">
            <div class = "fieldtext">Teams</div>
            {{#power-select 
                selected=selectedoption
                searchPlaceholder="Search Team"
                options=teamlists
                onchange=(action "selectTeams")
                as |teamname|
            }}
            {{teamname}}
            {{/power-select}}
        </div>         
    </div>
    </SlideModal>
{{/if}}

<PopupModal 
    @isPopupOpen = {{applyPopupmodal}}
    @icon = "Success"
    @popup-btns = {{popupbuttons}}
    @modal-title = {{this.popupmessage}}
    @path={{path}}
></PopupModal>