{{!-- {{yield}} --}}

<div class = "card-container">

   
    <div class='edit_hover_button'> 
     {{#link-to "users.edit" employeeinfocard.id }}
          <button class="usercard-buttons">{{svg-jar 'Editicon' width='13px' height="14px" }}</button>
     {{/link-to}}
     <button class="usercard-buttons" {{action "deleteEmployee" }}>{{svg-jar 'bin' width='13px' height="14px" }}</button>
    </div >
   
    <PopupModal 
    @isPopupOpen = {{this.deletePopupmodal}}
    @confirm-action = {{action "confirmDelete"}}
    @modal-title = "Do you wish to remove this employee from freshteam?"
    @path="users"
    ></PopupModal>

    {{user-avatar title=employeeinfocard.first_name empImage=employeeinfocard.image}}
    <div class = "namebox">
         {{employeeinfocard.fullName}}
    </div>

    <div class = "emailbox">
         {{employeeinfocard.email}}
    </div>
</div>
