
{{!-- {{yield}} --}}
<div class="avatar-container" style = "background-color: {{colorpicker (initial title)}}">
    {{#if empImage}}
    <img class = "employee-image" src={{empImage}} height="80px" width="80px">
    
    {{else}}
        <div class="employee-initial" >
             {{initial title}} 
        </div>
    {{/if}}
</div>