{{#user-filtering 
toggle-btn = listtogglebutton
employees=members 

as |employeeslist|

}}

<div class="content-container">

   {{#each employeeslist as |employee|}}
      {{user-list-item employeeinfocard=employee
       initiateDelete = (action "openDeleteModal")
      }}
      {{else}}
         <div class="nodata">
            <div class = "nodataImage">{{svg-jar 'employees' height='96px' }}</div>
            <div class = "nodatamessage1">No employees to list in this view </div>
            <div class = "nodatamessage2">Try looking for something less specific</div>
         </div> 
   {{/each}}
  
</div>

<PopupModal 
    @isPopupOpen = {{this.hasModalOpen}}
    @icon = "popupalert"
    @popup-btns = {{popupbuttons}}
    @del-ok-action = {{action "confirmDelete"}}
    @del-cancel-action = {{action "closeDeleteModal"}}
    @modal-title = "Do you wish to remove this employee from freshteam?"
    @path="users-listview"
    ></PopupModal>
{{/user-filtering}}