<SlideModal 
    @slidetitle = {{formtitle}} 
    @form-btns = {{formbuttons}} 
    @form-submit-action = {{action "apply"}} 
    @form-reset-action = {{action "reset"}}
>

<AvatarUpload @member-profile = {{member}}></AvatarUpload>
<div class = "inputfield-container">

    <div class = "field">
        <div class = "fieldtext">First Name <span style="color:#FF0000">*</span></div>
        {{input type="text" value=member.first_name  class="inputfield" focus-out=(action (mut showFirstnameError) true) }}
            {{#if showFirstnameError}}
                <div class="fielderror">
                    {{v-get member 'first_name' 'message'}}
                </div>
            {{/if}}
    </div>
   

    <div class = "field">
        <div class = "fieldtext">Last Name<span style="color:#FF0000">*</span></div>
        {{input type="text" value=member.last_name  class="inputfield" focus-out=(action (mut showLastnameError) true)}}
            {{#if showLastnameError}}
                <div class="fielderror">
                    {{v-get member 'last_name' 'message'}}
                </div>
            {{/if}}
        </div>

    <div class = "field">
        <div class = "fieldtext">Email<span style="color:#FF0000">*</span></div>
        {{input type="text" value=member.email class="inputfield" focus-out=(action (mut showEmailError) true)}}
            {{#if showEmailError}}
                {{#if (v-get member "email" "isInvalid")}}
                 <div class="fielderror">
                        E-mail address <strong>{{member.email}}</strong> is invalid.
                    </div>   
                {{/if}}
            {{/if}}        
    </div>   

    <div class = "field">
        <div class = "fieldtext">Date of Joining</div>
        {{bootstrap-datepicker value=member.joiningDate class="inputfield"
            format="dd.mm.yy" 
            orientation="bottom"  
            autoclose=true 
            autocomplete="off"    
        }}
    </div>  

    <div class = "field">
        <div class = "fieldtext">Designation</div>
        {{input type="text" value=member.designation class="inputfield" focus-out=(action (mut showDesignationError) true)}}
            {{#if showDesignationError}}
                <div class="fielderror">
                {{v-get member 'designation' 'message'}}
                </div>
            {{/if}}
    </div>
    <div class = "field ">
        <div class = "fieldtext">Teams</div>
        {{#power-select 
            selected=selectedoption
            searchPlaceholder="Search Team"
            options=teamlists
            onchange=(action "selectTeams")
            as |teamname|
        }}
        {{teamname}}
        {{/power-select}}
    </div>         
</div>

</SlideModal>