{{!-- {{yield}} --}}

<div class = "container2">
   <div class = "dropdown-container">
      <div class = " font-style dropdown-text">Filter By</div>
      <BsDropdown as |dd|>
         <dd.toggle><div class ="font-style option-text"> {{this.select_team}} </div>
            {{svg-jar 'Vector' class='vector' width='8px' height='5px'}}
         </dd.toggle>
         {{#dd.menu as |ddm|}}
            {{#each teams as |teamli|}}
               {{#ddm.item}}
                  <a href {{ action "getTeams" teamli }}>
                     <div class =" font-style item-lists">{{teamli}}</div>
                  </a>
               {{/ddm.item}}
            {{/each}}
         {{/dd.menu}}
      </BsDropdown>
   </div>
</div>
<div class="content-container">
   {{#each teamsl as |avatar|}}
      {{user-card firstname = avatar.first_name lastname = avatar.last_name email = avatar.email image = avatar.image}}
   {{/each}}
</div>
   