
{{!-- {{yield}} --}}
<div class="avatar-container" style = "background-color: {{colorpicker (initial title)}}">
    {{#if empImage}}
    <div class = "employee-image">
        {{svg-jar empImage height="80px" border-radius="50px"}}
        </div>
    {{else}}
        <div class="employee-initial" >
             {{initial title}} 
        </div>
    {{/if}}
</div>