{{!-- {{yield}} --}}
<div class = "usercards-container">
   <div class = "dropdown-container">
      <div class = "dropdown-text">Filter By</div>
      <BsDropdown as |dd|>
         <dd.toggle><div class ="option-text"> {{this.selected_option}} </div>
            {{svg-jar 'Vector' class='vector' width='8px' height='5px'}}
         </dd.toggle>
         {{#dd.menu as |ddm|}}
            {{#each teams as |team|}}
               {{#ddm.item}}
                  <a href {{ action "getTeams" team }}>
                     <div class ="item-lists">{{team}}</div>
                  </a>
               {{/ddm.item}}
            {{/each}}
         {{/dd.menu}}
      </BsDropdown>
   </div>

<div class = "dropdown-container">
   <div class = "dropdown-text">Sort By</div>
         <BsDropdown @closeOnMenuClick={{false}} as |dd|>    
            <dd.toggle><div class ="option-text">Options </div>
               {{svg-jar 'Vector' class='vector' width='8px' height='5px'}}
            </dd.toggle>
            {{#dd.menu as |ddm| }}
                  {{#ddm.item}}
                     <a href {{ action "sortByFields" "first_name" }}>
                     <div class ="item-lists {{if (compute (action "isSelectedValue" "first_name")) "selected"  }}">First Name</div>
                     </a>
                  {{/ddm.item}}
                  {{#ddm.item}}
                     <a href {{ action "sortByFields" "last_name" }} >
                     <div class ="item-lists {{if isSelected "selected" }}"><option value = "lastname">Last Name</option></div>
                     </a>
                  {{/ddm.item}}
                  {{#ddm.item}}
                     <a href {{ action "sortByFields" "joiningDate" }}>
                     <div class ="item-lists {{if isSelected "selected" }}"><option value = "joiningdate">Joining date</option></div>
                     </a>
                  {{/ddm.item}}

                  <div class="dropdown-divider"></div>

                  {{#ddm.item}}
                     <a href {{ action "sortByFieldsInOrder" "asc"}}>
                     <div class ="item-lists {{if isSelected "selected" ""}}">Ascending</div>
                     </a>
                  {{/ddm.item}}
                  {{#ddm.item}}
                     <a href {{ action "sortByFieldsInOrder" "desc"}}>
                     <div class ="item-lists {{if isSelected "selected" ""}}">Descending</div>
                     </a>
                  {{/ddm.item}}
            {{/dd.menu}}
               
         </BsDropdown>

   </div>
</div>
<div class="content-container">
   {{#each teamslist as |avatar|}}
      {{user-card firstname = avatar.first_name lastname = avatar.last_name email = avatar.email image = avatar.image}}
   {{/each}}
   
</div>
